{% extends 'base.html' %}
{% block nav_menu %}
{% include 'admin/_nav.html' %}
{% endblock %}

{% block main %}
{% include 'admin/_sidebar.html'%}
<div class="main-content">
    <form name="new-pubitem">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.pubname.label}}
            {{form.pubname(class="form-control", placeholder="Pubname")}}
            {% for error in form.pubname.errors %}
                <label class="error">{{error}}</label>
            {% endfor %}
        </div>

        <div class="form-group">
            {{form.description.label}}
            {{form.description(class="form-control", placeholder="description")}}
            {% for error in form.description.errors %}
                <label class="error">{{error}}</label>
            {% endfor %}
        </div>

        <div class="form-group">
            {{form.path.label}}
            {{form.path(class="form-control", placeholder="Pub directory")}}
            {% for error in form.path.errors %}
                <label class="error">{{error}}</label>
            {% endfor %}
        </div>
    
        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control", placeholder="password")}}
            {% for error in form.password.errors %}
                <label class="error">{{error}}</label>
            {% endfor %}
        </div>
        <div class="form-group">
            {{form.confirm_password.label}}
            {{form.confirm_password(class="form-control", placeholder="Confirm password")}}
            {% for error in form.confirm_password.errors %}
                <label class="error">{{error}}</label>
            {% endfor %}
        </div>
        <div class="checkbox">
            <label>
                {{form.is_public()}} Public
            </label>
        </div>
        <div class="checkbox">
            <label>
                {{form.allow_upload()}} Allow upload
            </label>
        </div>
        {{form.submit(class='btn btn-primary btn-block')}}
    </form>
</div>
{% endblock %}