{% extends 'base.html' %}

{% block nav_menu %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{url_for('pub.logout')}}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="sidebar">
    <div name="pubitem-dir-tree"></div>
</div>

<div class="main-content">
    <div class="pub-toolbar">
        {% if pub.allow_upload %}
        <ul>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Upload<span class="caret"></span> 
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;">File</a></li>
                    <li><a href="javascript:;">Folder</a></li>
                </ul>
            </li>
            <li><a id="create-new-folder" href="javascript:;" class="btn btn-default">New folder</a></li>
        </ul>
        {% endif %}
        <form>
            <input name="search" type="text" placeholder="Search file in pub..." class="form-control">
        </form>
    </div>
    
    <div class="pub-main">
        <div id="pub-path-nav" class="pub-path">
            <!-- dynamic create path nav. -->
        </div>
        <div class="collapse-toolbar">
            <button class="btn btn-xs btn-default">Delete</button>
            <button class="btn btn-xs btn-default">Rename</button>
            <button class="btn btn-xs btn-default">Download</button>
        </div>
        <div id="pub-nodes" class="pub-nodes">
            <!-- dynamic load pub nodes to here. -->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        // pubitem directory select jstree initialize.
        $("div[name='pubitem-dir-tree']").jstree({
            'core' : {
                'data' : {'asyn':true, 'url':"{{url_for('api.item', uuid=pub.uuid)}}"}
            }
        });
        // pubitem directory select jstree changed.
        $("div[name='pubitem-dir-tree']").on("changed.jstree", function (e, data) {
            url = data.selected[0];
            load_nodes(url);
            //$("form[name='pub-create']").find("input[name='path']").val(url);
        });

        update_path_nav = function(url) {
            url_arr = url.split('/');
            if (url_arr.length == 2 && url_arr[1] == '') {
                delete url_arr[0];
            }
            var breadcrumb = $("<ol class='breadcrumb'></ol>");
            for (i=0; i<url_arr.length; i++) {
                var li = $('<li></li>');
                if(i==0) {
                    var href = $("<a href=\"javascript:void(0);\" onclick=\"load_nodes('/');\">Home</a>");
                } else {
                    var path = '';
                    for (j=1; j<=i; j++) {
                        path = path + '/' + url_arr[j];
                    }
                    var href = $("<a href=\"javascript:void(0);\" onclick=\"load_nodes('"+ path + "');\">" + url_arr[i] + "</a>");
                }
                li.append(href);
                breadcrumb.append(li);
            }
            $('#pub-path-nav').empty();
            $('#pub-path-nav').append(breadcrumb);
        };

        // requried function: load_nodes(url).
        show_nodes = function(nodes) {
            var table = $("<div class='table-nodes'></div>");
            var tab_head = $("<div class='table-nodes-row'>" +
                                "<div class='table-nodes-col'>Name</div>" + 
                                "<div class='table-nodes-col'>Type</div>" + 
                                "<div class='table-nodes-col'>Create time</div>"+
                                "<div class='table-nodes-col'>Size</div>"+
                            "</div>");
            table.append(tab_head);
            for (i=0; i<nodes.length; i++) {
                var item = $("<div class='table-nodes-row'></div>");
                var type=$("<div class='table-nodes-col'>" + nodes[i].type[1] + "</div>");
                var create = $("<div class='table-nodes-col'>" + nodes[i].create + "</div>");
                if (nodes[i].type[1].toLowerCase() === 'directory') {
                    var on_click = "onclick=\"load_nodes('"+ nodes[i].path + "');\"";
                    var href = $("<a href='javasrcipt:void(0)' "+ on_click + ">" + nodes[i].name + "</a>");
                    var name = $("<div class='table-nodes-col'></div>");
                    name.append(href);
                } else {
                    //Downlaod link.
                    var uuid = "{{pub.uuid}}";
                    var path = nodes[i].path;
                    var href = $("<a href=\"/pub/download/"+uuid+"?path="+path+"\">" + nodes[i].name + "</a>");
                    var name = $("<div class='table-nodes-col'></div>");
                    name.append(href);
                }
                var size = $("<div class='table-nodes-col'>" + nodes[i].size + "</div>");
                item.append(name);
                item.append(type);
                item.append(create);
                item.append(size);
                table.append(item);
            }
            $("#pub-nodes").empty();
            $("#pub-nodes").append(table);
        };

        load_nodes = function(url) {
            $('#pubs-dir-path').empty();
            $('#pubs-dir-path').append(url);
            update_path_nav(url);
            $.get(
                "{{url_for('api.item', uuid=pub.uuid)}}",
                {path: url},
                function(nodes){
                    show_nodes(nodes);
                }, 
                "json"
            );
        };

        // get root dirctory file and dir list.
        load_nodes("/");
    });
</script>
{% endblock %}