{% extends 'base.html' %}

{% block nav_menu %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{url_for('pub.logout')}}">Sign out</a>
    </li>
</ul>
<ul class="nav navbar-form navbar-right">
    <li><input name="search" type="text" placeholder="Search file in pub..." class="form-control"></li>
</ul>
{% endblock %}

{% block main %}
<div class="sidebar">
    <div name="pubitem-dir-tree"></div>
</div>

<div class="main-content">
    <div id="pubitem-list" uuid="{{pub.uuid}}">
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        // pubitem directory select jstree initialize.
        $("div[name='pubitem-dir-tree']").jstree({
            'core' : {
                'data' : {'asyn':true, 'url':"{{url_for('api.item', uuid=pub.uuid)}}"}
            }
        });

        // pubitem directory select jstree changed.
        $("div[name='pubitem-dir-tree']").on("changed.jstree", function (e, data) {
            url = data.selected[0];
            console.log(url);
            //$("form[name='pub-create']").find("input[name='path']").val(url);
        });

        show_pubs = function(pubs){

        };

        // get root dirctory file and dir list.
        $.get(
            "{{url_for('api.item', uuid=pub.uuid)}}",
            {path:'/'},
            function(data){
                console.log(data);
                show_pubs(data);
            }, 
            "json"
        );
    });
</script>
{% endblock %}