{% extends 'base.html' %}

{% block nav_menu %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{url_for('pub.logout')}}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="sidebar">
    <div name="pub-sidemenu">
        <!-- dynamic load this pub directory tree.-->
    </div>
</div>

<div class="main-content">
    <div class="pub-toolbar">
        <ul>
            <li><a name="nav-back" class="btn btn-default" href="javascript:void(0);">Back</a></li>
            {% if pub.allow_upload %}
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Upload<span class="caret"></span> 
                </a>
                <ul class="dropdown-menu">
                    <li><a name="upload-file" href="javascript:;">File</a></li>
                    <li><a name="upload-folder" href="javascript:;">Folder</a></li>
                </ul>
            </li>
            <li><a name="create-folder" href="javascript:;" class="btn btn-default">New folder</a></li>
            {% endif %}
        </ul>
        <form name="pub-search", method="GET">
            <input name="keywords" type="text" placeholder="Search file in pub..." class="form-control">
        </form>
    </div>

    <div class="modals">
        <!-- show text modal. -->
        <div name="open-text" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <!-- dynamic load content. -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- play audio modal. -->
        <div name="audio-player" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <audio name="audio-player" src="" controls="controls" autoplay></audio>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- play video modal. -->
        <div name="video-player" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <video name="video-player" src="" controls="controls" autoplay></video>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- show image modal. -->
        <div name="image" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% if pub.allow_upload %}
        <!-- upload file modal-->
        <div name="upload-file" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Upload file.</h5>
                    </div>
                    <div class="modal-body">
                        <form name="upload-file" enctype='multipart/form-data'>
                            <div class="form-group">
                                <label>File</label>
                                <input name="file" type="file" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">Upload</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- upload folder modal-->
        <div name="upload-folder" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Upload folder.</h5>
                    </div>
                    <div class="modal-body">
                        <form name="upload-folder" enctype='multipart/form-data'>
                            <div class="form-group">
                                <label>Local directory</label>
                                <input name="dir" type="file" class="form-control" webkitdirectory directory multiple/>
                            </div>
                            <button type="submit" class="btn btn-default">Upload</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- create folder modal-->
        <div name="create-folder" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Create an folder.</h5>
                    </div>
                    <div class="modal-body">
                        <form name="create-folder">
                            <div class="form-group">
                                <label>Folder name</label>
                                <input name="name" type="text" class="form-control" placeholder="Folder name" value="New folder">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- rename an node modal. -->
        <div name="rename-node" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title">Rename node.</h5>
                    </div>
                    <div class="modal-body">
                        <form name="rename-node">
                            <div class="form-group">
                                <input name="old_name" type="hidden" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label>Node name</label>
                                <input name="new_name" type="text" class="form-control" placeholder="Node new name" value="">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {% endif %}
    </div>

    <div class="pub-main" uuid="{{pub.uuid}}">
        <div name="pub-path" class="pub-path">
            <!-- dynamic create path nav. -->
        </div>
        <div class="collapse-toolbar">
            <button class="btn btn-xs btn-default" role="download">Download</button>
            {% if pub.allow_upload %}
            <button class="btn btn-xs btn-default" role="delete">Delete</button>
            <button class="btn btn-xs btn-default" role="rename">Rename</button>
            {% endif %}
        </div>
        <div name="pub-nodes" class="pub-nodes">
            <!-- dynamic load pub nodes to here. -->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var uuid = "{{pub.uuid}}";
    node_table = new NodeTable(uuid);

    $(document).ready(function(){
        // show pub root nodes at start.
        node_table.load('|');

        // pub side-menu tree init.
        $("div[name='pub-sidemenu']").jstree({
            'core' : {
                'data' : {
                    'dataType': 'json', 
                    'url': function(node) {
                        // node attrs: id, text, icon, parent, parents,
                        var node_id = node.id
                        if (node_id === '#') {
                            node_id = '|'
                        }
                        return `/api/pub/${uuid}/${node_id}/dir`
                    }
                }
            }
        });
        
        // pub side-menu tree selected.
        $("div[name='pub-sidemenu']").on("changed.jstree", function (e, data) {
            id = data.selected[0];
            node_table.load(id);
        });

        // search files in this pub.
        $("form[name='pub-search']").on("submit", function(e){
            $.get(
                "{{url_for('api.node_search', uuid=pub.uuid, node_id='|')}}",
                $(this).serialize(),
                function(nodes){
                    node_table.show(nodes, 1);
                    $("input[name='keywords']").val('');
                }, 
                "json"
            );
            return false;
        });

        // listen path-link click then load and show the path nodes.
        $("div.pub-main").on("click", "a[name='path-link']", function(e){
            var id = $(this).attr('id');
            node_table.load(id);
            e.stopPropagation();
        });

        // To navgation back.
        $("a[name='nav-back']").on('click', function(){
            node_table.nav_back();
        });

        // table-nodes-row selected.
        $("div.pub-nodes").on("click", ".table-nodes > .table-nodes-body", function(e){
            var ev = e || window.event;
            var target = ev.target || ev.srcElement;
            if ($(target).is('.table-nodes-col')) {
                // table-row clicked.
                var row = $(target).parent();
                $(row).addClass('active');
                $(row).siblings().removeClass('active');
                $("div.collapse-toolbar").slideDown();
            } else {
                $("div.collapse-toolbar").slideUp();
            }
        });

        // double click to open node(play audio/video).
        $("div.pub-nodes").on("dblclick", ".table-nodes > .table-nodes-body > .table-nodes-row", function(e){
            var id = $(this).attr('id');
            var name = $(this).attr('name');
            var type = $(this).attr('type');
            var uuid = $(this).attr("uuid");
            var download_url = `/pub/${uuid}/${id}/download`;
            
            if (type === 'directory') {
                node_table.load(id);
            } else {
                // open support file type.
                if (type === 'text file') {
                    // open text file.
                    $.get(`/pub/${uuid}/${id}/text`,
                        function(data,status){
                            var content = $('<div>' + data + '</div>');
                            $(".modal[name='open-text']").children('.modal-dialog').children('.modal-content').children('.modal-header').children('.modal-title').html(name);
                            $(".modal[name='open-text']").children('.modal-dialog').children('.modal-content').children('.modal-body').empty();
                            $(".modal[name='open-text']").children('.modal-dialog').children('.modal-content').children('.modal-body').append(content);
                            $(".modal[name='open-text']").modal('show');     
                    });
                } else if (type === 'audio file') {
                    $(".modal[name='audio-player']").children('.modal-dialog').children('.modal-content').children('.modal-body').children('audio').attr('src', download_url);
                    $(".modal[name='audio-player']").modal('show'); 
                } else if (type === 'video file') {
                    $(".modal[name='video-player']").children('.modal-dialog').children('.modal-content').children('.modal-body').children('video').attr('src', download_url);
                    $(".modal[name='video-player']").modal('show');
                } else if (type === 'photo') {
                    $(".modal[name='image']").children('.modal-dialog').children('.modal-content').children('.modal-body').children('img').attr('src', download_url);
                    $(".modal[name='image']").modal('show');
                } else {
                    alert("Not support open.");
                }
            }
        });

        // when audio-player dismiss stop audio playing.
        $(".modal[name='audio-player']").on("hide.bs.modal", function(e){
            $(".modal[name='audio-player']").children('.modal-dialog').children('.modal-content').children('.modal-body').children('audio')[0].pause();
        });

        // when video-player dismiss stop video playing.
        $(".modal[name='video-player']").on("hide.bs.modal", function(e){
            $(".modal[name='video-player']").children('.modal-dialog').children('.modal-content').children('.modal-body').children('video')[0].pause();
        });

        // download file or directory.
        $("button[role='download']").on("click", function(e){
            var selected_row = $(".table-nodes > .table-nodes-body").children(".active");
            if (selected_row.length == 1) {
                var uuid = $(selected_row).attr("uuid");
                var id = $(selected_row).attr("id");
                window.location.href = `/pub/${uuid}/${id}/download`;
            } else if (selected_row.length == 0) {
                alert("Unselect row.");
            } else {
                alert("Selected too many.");
            }
            e.stopPropagation();
        });
    });
</script>

{% if pub.allow_upload %}
<script>
    $(document).ready(function(){

        $("form[name='create-folder']").validate({
            rules: {
                name: "required",
            },
            messages: {
                name: "Empty folder name.",
            }
        });

        $("form[name='rename-node']").validate({
            rules: {
                new_name: "required",
            },
            messages: {
                new_name: "Empty node name.",
            }
        });

        $("form[name='upload-file']").validate({
            rules: {
                parent_path: "required",
                file: "required",
            },
            messages: {
                parent_path: "Empty parent directory.",
                file: "Please select file.",
            }
        });

        // Create folder.
        $("a[name='create-folder']").on('click', function(){
            $(".modal[name='create-folder']").modal("show");
        });

        $("form[name='create-folder']").on('submit', function(e){
            if (!$(this).valid()) {
                e.preventDefault();
                return;
            }
            var uuid = node_table.uuid;
            var node_id = node_table.current_id();
            $.post(`/api/pub/${uuid}/${node_id}`, 
                    $(this).serialize(), 
                    function(data) {
                        alert("Create folder success.");
                        node_table.reload();
                        $("div[name='pub-sidemenu']").jstree(true).refresh();   // bug.
                    }, "json"
            );
            $(".modal[name='create-folder']").modal("hide");
            e.preventDefault();
            $(this)[0].reset();
        });

        // delete an node.
        $("button[role='delete']").on('click', function(){
            var selected_row = $(".table-nodes > .table-nodes-body").children(".active");
            if (selected_row.length == 1) {
                var uuid = $(selected_row).attr("uuid");
                var node_id = $(selected_row).attr("id");
                if (confirm('Are you sure delete this node?')) {
                    $.ajax({
                        url: `/api/pub/${uuid}/${node_id}`,
                        type: "delete",
                        dataType:"json",
                        success: function(data){
                            alert(data.msg);
                            node_table.reload();
                            $("div[name='pub-sidemenu']").jstree(true).refresh();   // bug.
                        }
                    });
                }
            } else if (selected_row.length == 0) {
                alert("Unselect row.");
            } else {
                alert("Selected too many.");
            }
        });

        // rename an node.
        $("button[role='rename']").on('click', function(){
            var selected_row = $(".table-nodes > .table-nodes-body").children(".active");
            if (selected_row.length == 1) {
                var name = $(selected_row).attr("name");
                $(".modal[name='rename-node']").find("input[name='old_name']").val(name);
                $(".modal[name='rename-node']").find("input[name='new_name']").val(name);
                $(".modal[name='rename-node']").modal("show");
            } else if (selected_row.length == 0) {
                alert("Unselect row.");
            } else {
                alert("Selected too many.");
            }
        });

        $("form[name='rename-node']").on('submit', function(e){
            if (!$(this).valid()) {
                e.preventDefault();
                return;
            }
            var uuid = node_table.uuid;
            var node_id = node_table.current_id();
            $.ajax({
                    url: `/api/pub/${uuid}/${node_id}`,
                    type: "put",
                    data:$(this).serialize(),
                    dataType:"json",
                    success: function(data){
                        alert(data.msg);
                        node_table.reload();
                        $("div[name='pub-sidemenu']").jstree(true).refresh();   // bug.
                    }
            });
            
            $(".modal[name='rename-node']").modal("hide");
            e.preventDefault();
            $(this)[0].reset();
        });

        $("a[name='upload-file']").on('click', function(){
            $(".modal[name='upload-file']").modal('show');
        });

        $("form[name='upload-file']").on('submit', function(e){
            if (!$(this).valid()) {
                e.preventDefault();
                return;
            }
            var uuid = node_table.uuid;
            var node_id = node_table.current_id();
            var formdata = new FormData();
            formdata.append("file", $(this).find("input[name='file']")[0].files[0]);
            $.ajax({
                url: `/api/pub/${uuid}/${node_id}/upload`, 
                type: "post",
                processData: false,
                contentType: false,
                data:   formdata,
                success: function(data) {
                    alert("Upload file success.");
                    node_table.reload();
                    $("div[name='pub-sidemenu']").jstree(true).refresh();   // bug.
                },
            });
            
            $(".modal[name='upload-file']").modal("hide");
            e.preventDefault();
            $(this)[0].reset();
        });
        
        $("a[name='upload-folder']").on('click', function(){
            $(".modal[name='upload-folder']").modal('show');
        });
    });
</script>
{% endif %}

{% endblock %}