{% extends 'base.html' %}
{% block nav_menu %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{url_for('pub.login')}}">Protected</a>
    </li>
    <li>
        <a href="{{url_for('admin.login')}}">Admin</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <td>Pub time</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        {% for pub in pubs %}
        <tr>
            <td>{{pub.standard_pubtime}}</td>
            <td><a href="{{url_for('pub.item', uuid=pub.uuid)}}">{{pub.name}}</a></td>
            <td>{{pub.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}