<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf-token" content="{{csrf_token()}}">
	<title>Pubit</title>
	<link href="{{url_for('static', filename='bootstrap/3.3.7/css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='jstree/3.3.9/themes/default/style.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='app/1.0.0/css/style.css')}}" rel="stylesheet">
</head> 
<body>
{% include 'user/_nav.html' %}
<div class="main">
	{% block main %}
	{% endblock %}
</div>
<script src="{{url_for('static', filename='jquery/1.12.4/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.validate/1.17.0/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', filename='jstree/3.3.9/jstree.min.js')}}"></script>
<script src="{{url_for('static', filename='app/1.0.0/js/app.js')}}"></script>
</body>
</html>